h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    width: 410px;
    height: 197px;
    color: darkolivegreen;
 line-height: 66px;


}
.flexcontainer33 {
display: flex;
justify-content: center;
}
.flexcontainer {
    display: flex;
    height: 591px;
    width: 1440px;


   

}
.flexcontainer1 {
    width: 50%;
    background-color: rgb(190, 173, 151);
    display: flex;
    flex-direction: column;

}
.text {
    order: -1;
    flex-direction: column;
    align-self: center;
    }
    #furniture1 {
        order: 0;
        align-self: flex-start;
            padding: 15px;
            height: 150px;
            width: 150px;
        }
        #furniture2 {
            order: 1;
            align-self: flex-end;
            padding: 15px;
            height: 150px;
            width: 150px;
        }
        #furniture3 {
            order: 2;
            align-self: center;
        padding: 15px;
        height: 150px;
        width: 150px;
        }
.flexcontainer2 {
    background-color: #C6BC8A;
    color: #425E44;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
}